

.input-section {
	justify-content: center;
  display: flex;
  align-items: center;
}

input {
  font-size: 14px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

   width: 290px;
   height: 25px;
}