.loading-spinner {
  width: 15px;
}

.clipboard-div {
  justify-content: center;
  display: flex;
    align-items: center;
}

.card-div {
justify-content: center;
  display: flex;
    align-items: center;  
}

.input-div {
	justify-content: center;
  display: flex;
  align-items: center;
}

a {
  color: #2c87f0;
}
a:hover, a:active, a:focus, a:visited {
  color:#2c87f0;
}

p {
  /*justify-content: center;*/
  /*display: flex;*/
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  color: white;
}
.card-image {
  position: relative;
}

.card-loading {  
  position: absolute;
  width: 50px;
}