.loading-spinner {
  width: 15px;
}

.clipboard-div {
  justify-content: center;
  display: flex;
    align-items: center;
}

.card-div {
justify-content: center;
  display: flex;
    align-items: center;  
}

.input-div {
	justify-content: center;
  display: flex;
  align-items: center;
}

a {
  color: #2c87f0;
}
a:hover, a:active, a:focus, a:visited {
  color:#2c87f0;
}

p {
  /*justify-content: center;*/
  /*display: flex;*/
  text-align: center;
  margin: auto;
  width: 50%;
  /*padding: 10px;*/
  color: white;
}

button {
  font-size: 14px;

  width: 200px;
  height: 30px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

img.hidden {
  visibility: hidden;
}

.card-image {
  position: relative;
}

.clipboard-button {
  margin-right:10px;
}

.copy-complete-visible {
  width:25px;
}

.copy-complete-hidden {
  width:25px; 
  visibility: hidden;
}

.card-loading {  
  position: absolute;
  width: 50px;
}